@font-face {
    font-family: 'GreatVibes';
    src: url('fonts/GreatVibes-Regular.otf');
}

body {
    background-image: url("./images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    height: 60px;
    border-bottom: 1px solid gray;
    background-color: #138496;
    padding-left: 3%;
    padding-top: 1%;
    color: honeydew;
    font-family: 'GreatVibes';
}

.formRegistration, .btnList {
    margin-top: 5%;
}

.btnList {
    margin-top: 20%;
}

.theadProducts {
    background-color: #1ba3b8;
}